#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* app.css */

/* Estilos para el contenedor principal */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Centra el contenido verticalmente */
}

/* Estilos para el título */
.App h2 {
  margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para el formulario */
.App form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el campo de entrada de texto */
.App input[type='text'] {
  width: 300px; /* Ancho del campo de entrada */
  margin-bottom: 10px; /* Espacio inferior */
  padding: 10px; /* Espaciado interior */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde */
}

/* Estilos para el botón */
.App button {
  margin-top: 10px;
  background-color: #ffffff !important; /* Color de fondo */
  color: #000000; /* Color del texto */
  border: black 3px solid !important; /* Borde */
  border: none; /* Borde */
  padding: 10px 20px; /* Espaciado interior */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar el ratón */
}

.App button:hover {
  background-color: #07352f !important; /* Cambia el color de fondo al pasar el ratón por encima */
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
